@model EcmMobileShop.Models.tb_YKIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/OneTechAdmin/Views/Shared/_layoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_YKIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayYKien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayYKien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdYK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
