@model IEnumerable<EcmMobileShop.Models.SignUpModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OneTechAdmin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Danh sách hãng sản phẩm</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <h2 style="text-align: center">THÔNG TIN HÃNG SẢN PHẨM</h2>
            <p>
                @Html.ActionLink("Tạo tài khoản mới", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <thead>
                <tr>
                    <th>
                        Tên tài khoản
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Địa chỉ
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Vai trò
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diachi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Roles)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-primary" })
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })*@
                        </td>
                    </tr>
                }
            </tbody>

            
        <tfoot>
            <tr>
                <th>
                    Tên tài khoản
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Email
                </th>
                <th>
                    Vai trò
                </th>
                <th>
                    Trạng thái
                </th>
                <th></th>
            </tr>
        </tfoot>
        </table>
        
    </div>
</div>