@model EcmMobileShop.Models.tb_HANGSP

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/OneTechAdmin/Views/Shared/_layoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_HANGSP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHangSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHangSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdHangSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
