
@model IEnumerable<EcmMobileShop.Models.tb_CT_SANPHAM>

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/OneTechAdmin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Chi tiết sản phẩm @ViewBag.id</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng tồn</th>
                    <th>Màu sắc</th>
                    <th>Hình ảnh</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tb_SANPHAM.TenSP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoLuongSP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tb_MAUSAC.TenMau)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImagePathDetail)
                            </td>

                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng tồn</th>
                    <th>Màu sắc</th>
                    <th>Hình ảnh</th>
                </tr>
            </tfoot>

        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
