@model IEnumerable<EcmMobileShop.Models.tb_Banner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OneTechAdmin/Views/Shared/_layoutAdmin.cshtml";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Danh sách banner chính</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <h2 style="text-align: center">Bảng danh sách banner chính</h2>
            <p>
                @Html.ActionLink("Tạo banner chính mới", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <thead>
                <tr>
                    <th>
                        Ngày hết hạn
                    </th>
                    <th>
                        Link hình ảnh
                    </th>
                    <th>
                        Tình trạng
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayHH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImagePathDetail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TinhTrang)
                        </td>
                        <td>
                           
                            @Html.ActionLink("Edit", "Edit", new { id = item.IdBanner }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Details", "Details", new { id = item.IdBanner }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.IdBanner }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Ngày hết hạn
                    </th>
                    <th>
                        Link hình ảnh
                    </th>
                    <th>
                        Tình trạng
                    </th>
                    <th></th>
                </tr>
            </tfoot>
            

        </table>
    </div>
</div>
